@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Raleway:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #e7e7eb;
  color: #100e1d;
}

html {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  background-color: #100e1d;
  color: #e7e7eb;
}
